.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  @media  (max-width: 768px) {
    flex-direction: column;
  }
}

.about-container {
  min-width: 580px;
  padding: 3rem;

  & h2 {
    text-wrap: balance;
  }
}
