.hero-image {
  position: relative;
  height: 534px;
  max-height: fit-content;
  max-width: fit-content;

  @media  (max-width: 768px) {
    height: auto;
  }

  & .slider-controls {
    position: absolute;
    bottom: 0px;
    right: -160px;
    display: flex;
    flex-direction: row;
    gap: 0;

    @media  (max-width: 768px) {
       bottom: 8px;
       right: 0px;
    }

    & button {
      width: 80px;
      height: 80px;
      background-color: var(--black);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--very-dark-gray);
      }
    }
  }
}

.hero-content, .hero-content-text {
  margin:auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-content {
  @media  (max-width: 768px) {
    padding: 0 1rem;
  }
}

.cta {
  background-color: unset;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 12.5px;
  display: flex;
  gap: 0.5rem;
  max-width: fit-content;
  padding: 0;

  &:hover {
    opacity: 0.5;
  }
}

.hero {
  @media  (max-width: 768px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}
