.hero-image {
  position: relative;

  & .slider-controls {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.hero-content {
  margin:auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
